Chalet-NewYorkNineteenEighty { font: ChaletFont; valign:false;}
Chalet-NewYorkNineteenSeventy { font: ChaletDecorativeFont; valign:false;}
ChaletNewYorkNineteenSeventy { font: ChaletDecorativeFont; valign:false;}
CandiceLT { font: CandiceScriptFont; valign:false; }
HelveticaNeueMedium {font: UnicodeFont;}
BrushScriptStdMedium {font: GroveScriptFont; valign:false;}
ArialNarrow {font: UnicodeFont;}
GroveScriptRRLight {font: GroveScriptFont; valign:false;}
Chalet{font: ChaletFont; valign:false;}

