Chalet-NewYorkNineteenEighty { font: ChaletFont; valign:false;}
Chalet-NewYorkNineteenSeventy { font: ChaletDecorativeFont; valign:false;}
ChaletNewYorkNineteenSeventy { font: ChaletDecorativeFont; valign:false;}
CandiceLT { font: CandiceScriptFont; valign:false; }
HelveticaNeueMedium {font: UnicodeFont;}
Arial {font: UnicodeFont;}
